* {
  margin: 0;
  padding: 0;
  font-family: "Orbit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.App {
  width: 100%;
  min-height: 100vh;
  background: gray;
}


.contain {
  width: 100%;
  max-width: 600px;
  min-height: 100vh;
  background: white;
  padding: 30px 10px;
  box-sizing: border-box;

  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}